<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="cp-image">
    <f:if condition="{data.header}">
        <f:render partial="HeaderTag" arguments="{
            header_layout: data.header_layout,
            header: data.header,
            link: data.header_link}" />
    </f:if>
    <div class="gallery columns{data.imagecols} orientation{data.imageorient}">
        <f:if condition="{files}">
            <f:for as="image" each="{files}">
                <figure class="files">
                    <f:render partial="ImageTag" arguments="{file: image, settings: settings}" />
                    <f:if condition="{image.description} && !({data.showcaption} == '0')">
                        <figcaption>{image.description}</figcaption>
                    </f:if>
                </figure>
            </f:for>
        </f:if>
        <f:if condition="{data.files}">
            <f:for as="image" each="{data.files}">
                <figure class="data.files">
                    <f:render partial="ImageTag" arguments="{file: image, settings: settings}" />
                    <f:if condition="{image.description} && !({data.showcaption} == '0')">
                        <figcaption>{image.description}</figcaption>
                    </f:if>
                </figure>
            </f:for>
        </f:if>
    </div>
</div>

</html>
