<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout />

<f:section name="Main">

    <f:switch expression="{data.displaywidth}">
        <f:case value="1">
            <f:variable name="sectionclass">breakout</f:variable>
        </f:case>
        <f:case value="2">
            <f:variable name="sectionclass">full-width</f:variable>
        </f:case>
        <f:defaultCase>
            <f:variable name="sectionclass"></f:variable>
        </f:defaultCase>
    </f:switch>

    <section class="{sectionclass}">
        <f:if condition="{data.header}">
            <f:render partial="HeaderTag" arguments="{
                header_layout: data.header_layout,
                header: data.header,
                link: data.header_link}" />
        </f:if>
        <f:if condition="{files}">
            <f:for as="image" each="{files}">
                <figure class="files">
                    <f:render partial="Image" arguments="{file: image, settings: settings}" />
                    <f:if condition="{image.description} && !({data.showcaption} == '0')">
                        <figcaption>{image.description}</figcaption>
                    </f:if>
                </figure>
            </f:for>
        </f:if>
        <f:if condition="{data.files}">
            <f:for as="image" each="{data.files}">
                <figure class="data.files">
                    <f:render partial="Image" arguments="{file: image, settings: settings}" />
                    <f:if condition="{image.description} && !({data.showcaption} == '0')">
                        <figcaption>{image.description}</figcaption>
                    </f:if>
                </figure>
            </f:for>
        </f:if>
    </section>
</f:section>
</html>
