/* 2col5050 */

@layer basestyles {

  .cp-col1 {
    display: block;
  }

  .cp-2cols5050 {
    display:               grid;
    grid-template-columns: 1fr 1fr;
    gap:                   var(--container-gutter);
    @container (width < 75ch) {
      grid-template-columns: 1fr;
    }
  }

  .cp-2cols3366 {
    display:               grid;
    grid-template-columns: 1fr 2fr;
    gap:                   var(--container-gutter);
    @container (width < 75ch) {
      grid-template-columns: 1fr;
    }
  }

  .cp-2cols6633 {
    display:               grid;
    grid-template-columns: 2fr 1fr;
    gap:                   var(--container-gutter);
    @container (width < 75ch) {
      grid-template-columns: 1fr;
    }
  }

  .cp-3cols {
    display:               grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:                   var(--container-gutter);
  }

}
