/* page */
@use '../settings' as *;

.navsubmenu {
  --gutter--list:          calc(var(--gutter) / 2);
  --navsubmenu-card--size: calc(var(--mediasize--small) * 5 / 8);

  display:                 grid;
  gap:                     var(--gutter);
  grid-template-columns: repeat(auto-fit, minmax(var(--navsubmenu-card--size), 1fr));
  justify-content:         center;
  padding-inline-start:    0;
}

.navsubmenu--card {
  list-style-type:    none;
  outline:            1px solid var(--clr-brand--primary);
  overflow:           hidden;

  display:            grid;
  grid-template-rows: auto auto 1fr auto;
  gap:                0.25rem;
}

.navsubmenu--heading {
  padding-block-start: var(--gutter--list);
  padding-inline: var(--gutter--list);
}

.navsubmenu--description {
   padding-inline: var(--gutter--list);
}

.navsubmenu--link {
  margin: var(--gutter--list);
  align-self: end;
}
