/* navmainmenu */
@use '../settings' as *;

@layer basestyles {

  /* main navigation */
  .nav-main {
    display: none;
    margin-inline: auto;
  }

  .menu-items {
    list-style:      none;
    padding:         0;
    margin:          0;
    display:         flex;
    flex-wrap:       nowrap;
    justify-content: center;
  }

  .menu-items > li {
    a {
      display: block;
      padding: 0.5em;
    }

    &.active {
      background-color: var(--clr-mnubg--active);
    }
  }

  .menu-items > li:hover {
    background-color: var(--clr-mnubg--hover);
  }

  .menu-item a:focus-visible {
    @include outline;
  }

  .cta-menu button:first-child {
    margin-inline-start: 0;
  }

  .cta-menu button:last-child {
    margin-inline-end: 0;
  }

  @container headercontent (width > 780px) {
    .nav-main {
      display: block;
    }
  }

  /* mobile navigation */
  .mobilemenu {
    --_bor-width: var(--hamburger--bar-width, 60px);
    --_bar-height: var(--hamburger--bar-height, 8px);
    --_bar-gap: var(--hamburger--bar-gap, 6px);

    display: block;
    margin-inline: auto var(--gutter);
  }
  .hamburger-menu:focus-visible {
    @include outline;
  }

  .nav-mobile {
    display: none;

    /* z-index hack für safari */
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

    position: absolute;
    z-index: 100;

    top:2.5rem;
    right: 0;
    width: 80%;
    background-color: oklch(from var(--clr-bw-020) l c h / 0.8);
  }

  .mmenu-items {
    list-style:      none;
    padding:         0;
    margin:          0;
   }

  .mmenu-items > li {
    a {
      display: block;
      padding: 0.5em;
    }

    &.active {
      background-color: var(--clr-mnubg--active);
    }
  }

  .mmenu-items > li:hover {
    background-color: var(--clr-mnubg--hover);
  }

  .mmenu-item a:focus-visible {
    @include outline;
  }

  .mlevel-0 {
    columns: 3;
    column-width: 20ch;
    column-rule: 1px dotted var(--clr-bw-030);
  }

  .mlevel-00,
  .mlevel-01,
  .mlevel-02,
  .mlevel-03 {
    display:block;
  }
  .mlevel-00,
  .mlevel-01 {
    color: red !important;
  }
  .mlevel-02,
  .mlevel-03 {
    break-before: avoid;
  }

  #hamburger:checked ~ .nav-mobile {
    display: block;
  }

}

