/* sections (typo3-containers) */

@layer basestyles {

  section {
    padding-block: calc(var(--gutter) * 2);
  }

  .section-hero,
  .section-hero-small{
    padding: 0;
    position: relative;

    img {
      object-fit: cover;
      object-position: center;
      min-height: 350px;
    }

    .hero,
    .hero-small {
      grid-row: 1 / -1;
    }

    .hero-overlay,
    .hero-small-overlay {
      grid-column: content;
      grid-row: 1 / -1;
      display: grid;
      align-content: end;
      .h1--pagetitle {
        background-color: oklch(from var(--clr-brand--primary) l c h / .5);
        backdrop-filter: blur(0.5rem);
        padding-inline: 0.5rem;
        margin-right: auto;
      }
    }
  }
  .section-hero {
    img {
      height: 60vh;
    }
  }
  .section-hero-small {
    img {
      height: 30vh;
    }
  }

  .cp-1col {
    display: block;
  }

  .cp-1col--content {
    // width = 1px;
  }

  .cp-2cols5050--content {
    display:               grid;
    grid-template-columns: 1fr 1fr;
    gap:                   var(--container-gutter);
    @container (width < 60ch) {
      grid-template-columns: 1fr;
    }
  }

  .cp-2cols3366--content {
    display:               grid;
    grid-template-columns: 1fr 2fr;
    gap:                   var(--container-gutter);
    @container (width < 75ch) {
      grid-template-columns: 1fr;
    }
  }

  .cp-2cols6633--content {
    display:               grid;
    grid-template-columns: 2fr 1fr;
    gap:                   var(--container-gutter);
    @container (width < 75ch) {
      grid-template-columns: 1fr;
    }
  }

  .cp-3cols--content {
    display:               grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:                   var(--container-gutter);
    @container (width < 75ch) {
      grid-template-columns: 1fr;
    }
  }
  .accent,
  .breakout-accent,
  .full-width-accent {
    background-color: var(--clr-background-accent);
  }

  .brandcolor,
  .breakout-brandcolor,
  .full-width-brandcolor {
    color: var(--clr-bw-090);
    background-color: var(--clr-background-brandcolor);
  }

}
