/* sections (typo3-containers) */
@use '../settings' as *;

@layer basestyles {

  section {
    padding-block: calc(var(--gutter) * 2);
  }

  .section-hero,
  .section-hero-small {
    padding:       0;
    position:      relative;
    align-content: start;

    img {
      object-fit:      cover;
      object-position: center;
      min-height:      350px;
      width:           100%;
    }

    .hero,
    .hero-small {
      grid-row: 1 / -1;
    }

    .hero-overlay,
    .hero-small-overlay {
      grid-column:   content;
      grid-row:      1 / -1;
      display:       grid;
      align-content: end;

      .h1--pagetitle {
        z-index:          2;
        background-color: oklch(from var(--clr-brand--primary) l c h / .5);
        backdrop-filter:  blur(0.5rem);
        padding-inline:   1rem;
        margin-right:     auto;
      }
    }
  }

  .section-hero {
    img {
      height: 60svh;
    }
  }

  .section-hero-small {
    img {
      height: 30svh;
    }
  }

  .cp-1col {
    display: block;
  }

  .cp-1col--content {
    // width = 1px;
  }

  .cp-2cols5050--content {
    display:               grid;
    grid-template-columns: 1fr 1fr;
    gap:                   var(--container-gutter);
    @container (width < 720px) {
      grid-template-columns: 1fr;
    }
  }

  .cp-2cols3366--content {
    display:               grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:                   var(--container-gutter);

    .cp-col202 {
      grid-column: 2 / span 2;
    }

    @container (width < 960px) {
      grid-template-columns: 1fr;
      .cp-col202 {
        grid-column: 1 / 1;
      }
    }
  }

  .cp-2cols6633--content {
    display:               grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:                   var(--container-gutter);

    .cp-col201 {
      grid-column: 1 / span 2;
    }

    @container (width < 960px) {
      grid-template-columns: 1fr;
      .cp-col201 {
        grid-column: 1 / 1;
      }
    }
  }

  .cp-3cols--content {
    display:               grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:                   var(--container-gutter);
    @container (width < 960px) {
      grid-template-columns: 1fr;
    }
  }

/* Karussell Layout */

  .cp-carousel {
    padding: 0;
    --cp-carousel--height: min(250px, 20vh);
    --cp-carousel--width: calc(var(--cp-carousel--height) * 16 / 9);
    --cp-carousel--time: 40s;
  }

  .cp-carousel--content {
    .cp-col201 {
      height: var(--cp-carousel--height);
      width: 100%;
      min-width: calc(var(--cp-carousel--width) * (var(--cp-carousel--num) - 1));
      position: relative;
    }
    overflow: hidden;
    mask-image: linear-gradient(
                  to right,
                  transparent,
                  black 10% 90%,
                  transparent
                );
    &:hover .cp-carousel--card {
      animation-play-state: paused;
      filter: grayscale(1);
    }
    .cp-carousel--card:hover{
      filter: grayscale(0);
    }
  }

  .cp-carousel--card {
    height: var(--cp-carousel--height);
    width: var(--cp-carousel--width);
    position: absolute;
    left: 100%;
    overflow: hidden;
    animation: scrollLeft var(--cp-carousel--time) linear infinite;
    animation-delay: calc((var(--cp-carousel--time) / var(--cp-carousel--num)) * (var(--cp-carousel--num) - var(--cp-carousel--position))  * -1);
    img {
      object-fit: cover;
    }
    > .cp-text {
      padding: var(--gutter);
    }
    > .cp-image {
      h1, h2, h3, h4 {
        z-index: 2;
        position: absolute;
        top: 8px;
        left: 8px;
        right: 8px;
        text-align: center;
      }
    }
  }

  @keyframes scrollLeft {
    from {
      left: 100%;
    }to{
      left: calc(var(--cp-carousel--width) * -1)
    }
  }


  .accent,
  .breakout-accent,
  .full-width-accent {
    background-color: var(--clr-background-accent);
  }

  .brandcolor,
  .breakout-brandcolor,
  .full-width-brandcolor {
    background-color: var(--clr-background-brandcolor);
  }

}
