/* page */
@use '../settings' as *;

header {
  background-color: var(--clr-headerbg);
}

.headercontent {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  padding-block: 0.5rem;
}

.logo {
  max-width: 200px;
}
