/* page */
@use '../settings' as *;

@layer basestyles {

  .headercontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name: headercontent;
    position: relative;
  }

  .logo a:focus-visible {
    @include outline;
  }
  .logo--img {
    max-width: 150px;
  }

}
