/* ck-editor */

@use 'atoms/color' as *;
@use 'atoms/fonts' as *;


body {
  font-family: var(--ff), sans-serif;
  font-size:   16px;
  line-height: 20px;
  // background-color: var(--clr-lightgray);
}

body >*:nth-last-child(-n + 1) {
  border-bottom: 3px dashed var(--clr-extralight);
}
