/* ck-editor */

@use 'settings' as *;
@use 'atoms' as *;

body {
  font-size:   18px;
  line-height: 24px;
  padding-inline: 10px;
  color: var(--clr-text);
  background-color: var(--clr-background);
  display: block;

  p {
    font-family: var(--ff);
  };

  h3, .h3 {
    font-size: 24px;
    font-family: var(--ff-h);
  }

  strong {
    font-weight: bold;
  }

  .cp-accent {
    color: var(--clr-accent);
  }

  .fs-small {
    font-size: 16px;
  }

  .fs-big{
    font-size: 22px;
  }
}
