/* ck-editor */

@use 'settings' as *;
@use 'atoms' as *;

body {
  font-family: var(--ff) sans-serif;
  font-size:   18px;
  line-height: 24px;
  padding: 5px 10px;
  color: var(--clr-text);
  background-color: var(--clr-background);
  display: block;
}

body > :last-child {
  margin-bottom: 0;
  padding-block-end: 0.25em;
  border-block-end: 1px solid var(--clr-bw-050);
}
