@use 'constants.base' as *;
// cp_base:constants.additional

// Font sizes
$cp-fontsize--small:               .75rem;
$cp-fontsize--big:                 1.25rem;

// layout + template (page)
$cp-html--color:                   $cp-color;
$cp-htmlbg--color:                 $cp-color--white;

$cp-body--color:                   $cp-color;
$cp-bodybg--color:                 $cp-color--white;

$cp-header--color:                 $cp-color--custom1;
$cp-headerbg--color:               $cp-color--white;
$cp-footer--color:                 $cp-color--white;
$cp-footerbg--color:               $cp-color--custom4;


// heading
$cp-h--color:                      $cp-color--custom1;
$cp-hbg--color:                    transparent;

// link
$cp-link--color:                   $cp-color;
$cp-link--colorhover:              $cp-color--custom2;

// border
$cp-border--color:                 $cp-color--lightgray;
$cp-border--radius:                1rem;
$cp-border--style:                 solid;

// Button primary
$cp-btncolor:                      $cp-color--lightgray;
$cp-btncolor--hover:               $cp-color--white;
$cp-btncolorbg:                    $cp-color--custom2;
$cp-btncolorbg--hover:             $cp-color--custom1;
$cp-btncorder--width:              0;
$cp-btncorder--style:              solid;
$cp-btncorder--color:              transparent;
$cp-btncorder--radius:             5px;
$cp-btncorder--colorhover:         transparent;

// Button secondary
$cp-btncolor2:                     $cp-color--lightgray;
$cp-btncolor2--hover:              $cp-color--white;
$cp-btncolor2bg:                   $cp-color--gray;
$cp-btncolor2bg--hover:            $cp-color--dark;
$cp-btnborder2--color:             transparent;
$cp-btnborder2--colorhover:        transparent;

// Button disabled
$cp-btncolord:                     $cp-color--dark;
$cp-btncolord--hover:              $cp-color--dark;
$cp-btncolordbg:                   $cp-color--gray;
$cp-btncolordbg--hover:            $cp-color--gray;
$cp-btncorderc--color:             transparent;
$cp-btncorderd--colorhover:        transparent;

// Accordion-Button
$cp-btncoloracc:                   $cp-color--white;
$cp-btncoloracc--hover:            $cp-color--white;
$cp-btncoloraccbg:                 $cp-color--custom4;
$cp-btncoloraccbg--hover:          $cp-color--lightgray;

// form colors
$cp-form--color:                   $cp-color--custom1;
$cp-formbg--color:                 $cp-color--extralight;
$cp-formborder--color:             $cp-color--lightgray;
$cp-forminpunt--color:             $cp-color--custom1;
$cp-forminputbg--color:            $cp-color--white;
$cp-forminputborder--color:        $cp-color--custom1;

/* navigation colors */
/* Navigation Button */
$cp-btnColorNav:                   $cp-color--custom1;
$cp-btnColorNav--hover:            $cp-color--custom1;
$cp-btnColorNavBg:                 $cp-color--white;
$cp-btnColorNavBg--hover:          $cp-color--lightgray;
$cp-btnBorderNav--width:           2px;
$cp-btnBorderNav--style:           solid;
$cp-btnBorderNav--color:           $cp-btnColorNav;
$cp-btnBorderNav--radius:          0;
$cp-btnBorderNav--colorHover:      $cp-btnColorNav;

$cp-nav--color:                    $cp-color--custom1;
$cp-navBg--color:                  $cp-color--white;
$cp-navBorder--color:              $cp-nav--color;
$cp-navItem--color:                $cp-nav--color;
$cp-navItemBg--color:              transparent;
$cp-navItemBorder--color:          $cp-nav--color;
$cp-navItem--colorHover:           $cp-color--white;
$cp-navItemBg--colorHover:         $cp-color--lightgray;
$cp-navItemBorder--colorHover:     $cp-navItem--colorHover;
$cp-navItem--colorActive:          $cp-color--custom4;
$cp-navItemBg--colorActive:        $cp-color--extralight;
$cp-navItemBorder--colorActive:    $cp-navItem--colorActive;

$cp-subNav--color:                 $cp-color--custom3;
$cp-subNavBg--color:               $cp-color--custom2;
$cp-subNavBorder--color:           $cp-color--white;
$cp-subNavItem--color:             $cp-nav--color;
$cp-subNavItemBg--color:           transparent;
$cp-subNavItemBorder--color:       $cp-color--custom3;
$cp-subNavItem--colorHover:        $cp-color--white;
$cp-subNavItemBg--colorHover:      transparent;
$cp-subNavItemBorder--colorHover:  $cp-color--white;
$cp-subNavItem--colorActive:       $cp-color--black;
$cp-subNavItemBg--colorActive:     transparent;
$cp-subNavItemBorder--colorActive: $cp-color--custom1;
