/* cp_base:constants */

@layer basestyles {
  /* Baseline Colors */
  /* as css constants (light theme) */
  :root {
    --clr-bw-000:                   oklch(0 0 0);
    --clr-bw-020:                   oklch(0.2 0 0);
    --clr-bw-030:                   oklch(0.3 0 0);
    --clr-bw-040:                   oklch(0.4 0 0);
    --clr-bw-050:                   oklch(0.5 0 0);
    --clr-bw-060:                   oklch(0.6 0 0);
    --clr-bw-070:                   oklch(0.7 0 0);
    --clr-bw-080:                   oklch(0.8 0 0);
    --clr-bw-090:                   oklch(0.9 0 0);
    --clr-bw-100:                   oklch(1 0 0);

    --clr-success:                  oklch(0.5 0.12 150);
    --clr-info:                     oklch(0.5 0.12 220);
    --clr-error:                    oklch(0.5 0.12 0);

    --clr-brand--primary:           oklch(0.5 0.19 220);
    --clr-brand--secondary:         oklch(0.5 0.13 318);
    --clr-brand--tertiary:          oklch(0.5 0.07 231);
    --clr-brand--quaternary:        oklch(0.5 0.03 149);
    --clr-branddimmed--primary:     oklch(from var(--clr-brand--primary) calc(l * .8) calc(c * .8) 220);
    --clr-branddimmed--secondary:   oklch(from var(--clr-brand--secondary) calc(l * .8) calc(c * .8) 220);
    --clr-branddimmed--tertiary:    oklch(from var(--clr-brand--tertiary) calc(l * .8) calc(c * .8) 220);
    --clr-branddimmed--quaternary:  oklch(from var(--clr-brand--quaternary) calc(l * .8) calc(c * .8) 220);

    /* ============================ */
    /* Color Theme light            */
    /* ============================ */

    /* application colors */
    --clr-text:                     var(--clr-bw-020);
    --clr-bg:                       var(--clr-bw-100);
    --clr-h:                        var(--clr-brand--primary);
    --clr-accent:                   var(--clr-brand--secondary);

    /* element colors */
    --clr-list--marker:             var(--clr-brand--primary);
    --clr-code--bg:                 var(--clr-bw-060);
    --clr-code--bc:                 var(--clr-bw-030);

    /* buttons */
    --clr-primarybtn--active:       var(--clr-bw-090);
    --clr-primarybtn--hover:        var(--clr-bw-090);
    --clr-primarybtnbg--active:     var(--clr-brand--primary);
    --clr-primarybtnbg--hover:      var(--clr-bw-050);
    --clr-primarybtnbg--disabled:   oklch(from var(--clr-primarybtn--active) calc(l * .75) c h);

    --clr-secondarybtn--active:     var(--clr-bw-090);
    --clr-secondarybtnbg--active:   var(--clr-brand--secondary);
    --clr-secondarybtnbg--hover:    var(--clr-bw-050);
    --clr-secondarxbtnbg--disabled: oklch(from var(--clr-secondarybtnbg--active) calc(l * .75) c h);

    /* section colors */
    --clr-headerbg:                 var(--clr-bw-060);
    --clr-footerbg:                 var(--clr-brand--primary);
    --clr-sectionbg--important:     var(--clr-brand--primary);
    --clr-sectionbg--gray:          var(--clr-bw-075);

    /* menu colors */
    --clr-mnu:                      var(--clr-bw-100);
    --clr-mnu--active:              var(--clr-bw-100);
    --clr-mnu--hover:               var(--clr-bw-100);
    --clr-mnubg:                    var(--clr-headerbg);
    --clr-mnubg--active:            var(--clr-bw-040);
    --clr-mnubg--hover:             var(--clr-brand--primary);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      /* buttons */
      --clr-primarybtn--active:   var(--clr-bw-075);
      --clr-primarybtnbg--active: var(--clr-brand--primary);
      --clr-primarybtn--disabled: oklch(from var(--clr-primarybtn--active) calc(l + .5) c h);

      /* typographic colors */
      --clr-background:           var(--clr-bw-020);
      --clr-text:                 var(--clr-bw-090);
    }
  }
}
