/* fonts */

@layer basestyles {
  @font-face {
    font-family: 'Ubuntu';
    font-weight: 300;
    src:         url('../Fonts/Ubuntu/ubuntu-l-webfont.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-style:  italic;
    src:         url('../Fonts/Ubuntu/ubuntu-li-webfont.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Ubuntu';
    font-weight: 400;
    src:         url('../Fonts/Ubuntu/ubuntu-r-webfont.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-style:  italic;
    src:         url('../Fonts/Ubuntu/ubuntu-ri-webfont.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Ubuntu';
    font-weight: 500;
    src:         url('../Fonts/Ubuntu/ubuntu-m-webfont.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style:  italic;
    src:         url('../Fonts/Ubuntu/ubuntu-mi-webfont.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Ubuntu';
    font-weight: 700;
    src:         url('../Fonts/Ubuntu/ubuntu-b-webfont.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-style:  italic;
    src:         url('../Fonts/Ubuntu/ubuntu-bi-webfont.woff2') format('woff2');
  }

  @font-face {
    font-family: 'UbuntuCondensed';
    font-weight: 400;
    src:         url('../Fonts/Ubuntu/ubuntu-c-webfont.woff2') format('woff2');
  }

  @font-face {
    font-family: 'UbuntuMono';
    font-weight: 400;
    src:         url('../Fonts/Ubuntu/ubuntumono-r-webfont.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Symbols';
    src:         url('../Fonts/LigatureSymbols/LigatureSymbols-2.11.woff') format('woff');
    font-weight: normal;
    font-style:  normal;
  }

  /* =============================== */
  :root {
    /* fontfaces */
    --ff:              'Ubuntu';
    --ff-condensed:    'UbuntuCondensed';
    --ff-serif:        'Ubuntu';
    --ff-h:            'UbuntuCondensed';
    --ff-nav:          'UbuntuCondensed';
    --ff-mono:         'UbuntuMono';
    --ff-symbol:       'Symbols';

    /* font weight */
    --fw-regular:      300;
    --fw-mono:         400;
    --fw-bold:         700;

    /* font size */
    --fs-minor:        16px;
    --fs-regular:      18px;
    --fs-regular--big: 24px;

    /* line height */
    --lh-regular:      1.5;
    --lh-small:        1.2;

    --lh-h:            var(--lh-small);

    /* regular font */
    --fs-standard:     clamp(var(--fs-regular), (100vw - 960px) / 100 + var(--fs-regular), var(--fs-regular--big));
    --fs-big:          calc(var(--fs-standard) * 1.125);
    --fs-small:        calc(var(--fs-standard) * 0.875);

    font-size:         var(--fs-standard);
    line-height:       var(--lh-regular);

  }

  .fs-big {
    font-size: var(--fs-big);
    line-height: 1.8;
  }
  .fs-small {
    font-size: var(--fs-small);
  }

}
