/* fonts */

:root {
  /* fontfaces */
  --ff: 'Ubuntu';
  --ff-condensed: 'UbuntuCondensed';
  --ff-serif: 'Ubuntu';
  --ff-h: 'UbuntuCondensed';
  --ff-nav: 'UbuntuCondensed';
  --ff-mono: 'UbuntuMono';
  --ff-symbol: 'Symbols';

  /* font weight */
  --fw-regular: 300;
  --fw-mono: 400;
  --fw-bold: 700;

  /* font size */
  --fs-small: 16px;
  --fs-regular: 24px;
  --fs-regular--big: 32px;


  /* line height */
  --lh-regular: 1.5;
  --lh-small: 1.2;

  --lh-paragraph: var(--lh-regular);
  --lh-h: var(--lh-small);
  --lh-list: var(--lh-small)
}

.fs-small {
  font-size: var(--fs-small);
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 300;
  src: url('../Fonts/Ubuntu/ubuntu-l-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-style: italic;
  src: url('../Fonts/Ubuntu/ubuntu-li-webfont.woff2') format('woff2');
}


@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  src: url('../Fonts/Ubuntu/ubuntu-r-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: italic;
  src: url('../Fonts/Ubuntu/ubuntu-ri-webfont.woff2') format('woff2');
}


@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  src: url('../Fonts/Ubuntu/ubuntu-m-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-style: italic;
  src: url('../Fonts/Ubuntu/ubuntu-mi-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: var(--fw-bold);
  src: url('../Fonts/Ubuntu/ubuntu-b-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: var(--fw-bold);
  font-style: italic;
  src: url('../Fonts/Ubuntu/ubuntu-bi-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'UbuntuCondensed';
  font-weight: var(--fw-regular);
  src: url('../Fonts/Ubuntu/ubuntu-c-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'UbuntuMono';
  font-weight: var(--fw-mono);
  src: url('../Fonts/Ubuntu/ubuntumono-r-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Symbols';
  src:         url('../Fonts/LigatureSymbols/LigatureSymbols-2.11.woff') format('woff');
  font-weight: normal;
  font-style:  normal;
}
