/* metrics */

:root {
  --gutter: 1em;
  --flow-spacer: 1em;

  --border-radius: 1em;

  --mediasize--small: 480px;
  --mediasize--medium: 960px;
  --mediasize--large: 1600px;

  --blocksize--small: 200px;
  --blocksize--medium: 360px;
  --blocksize--big: 480px;
}
