/* page */

html {
  background-color: var(--clr-brand3);
  margin: 0;
  padding: 0;
  font-family: #{$cp-fontFamily};
  font-size: 16px;
  line-height: 1.6rem;
}


@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}
