/* page */

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

header,
main,
footer,
section,
article {
  container-type: inline-size;
}

.header1 {
  background-color: #0a53be;
}

