button,
.button {
  color: var(--clr-primarybtn--active);
  background-color: var(--clr-primarybtnbg--active);
  :focus-visible,
  :hover {
    background-color: var(--clr-primarybtnbg--hover);
  }
  border: 0;
  border-radius: 0;
  display: inline-block;
  margin: 0.25rem;
  padding: 0.5em 1em;
}

.button--small {
  font-size: var(--fs-small);
}

