/* cp_base:constants */

/* Baseline Colors */
$cp-color--black:      oklch(0 0 0);
$cp-color--extradark:  oklch(0.3 0 0);
$cp-color--dark:       oklch(0.4 0 0);
$cp-color--gray:       oklch(0.6 0 0);
$cp-color--lightgray:  oklch(0.75 0 0);
$cp-color--extralight: oklch(0.9 0 0);
$cp-color--white:      oklch(1 0 0);
$cp-color--success:    oklch(0.78 0.12 152);
$cp-color--info:       oklch(0.78 0.12 222);
$cp-color--error:      oklch(0.78 0.12 0);

$cp-color:             $cp-color--extradark;
$cp-color--brand1:     oklch(0.646 0.034 149.54);
$cp-color--brand2:     oklch(0.496 0.137 318.633);
$cp-color--brand3:     oklch(0.706 0.189 303.591);
$cp-color--brand4:     oklch(0.503 0.057 231.771);
$cp-color--highlight:  $cp-color--brand4;

// as css constants
:root {
  --clr-black:      #{$cp-color--black};
  --clr-extradark:  #{$cp-color--extradark};
  --clr-dark:       #{$cp-color--dark};
  --clr-gray:       #{$cp-color--gray};
  --clr-lightgray:  #{$cp-color--lightgray};
  --clr-extralight: #{$cp-color--extralight};
  --clr-white:      #{$cp-color--white};
  --clr-success:    #{$cp-color--success};
  --clr-info:       #{$cp-color--info};
  --clr-error:      #{$cp-color--error};
  --clr-color:      #{$cp-color};
  --clr-brand1:     #{$cp-color--brand1};
  --clr-brand2:     #{$cp-color--brand2};
  --clr-brand3:     #{$cp-color--brand3};
  --clr-brand4:     #{$cp-color--brand4};
  --highlight:      #{$cp-color--highlight};
}
