/* fonts */

@font-face {
  font-family: 'Ubuntu';
  font-weight: 300;
  src: url('../Fonts/Ubuntu/ubuntu-l-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-style: italic;
  src: url('../Fonts/Ubuntu/ubuntu-li-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  src: url('../Fonts/Ubuntu/ubuntu-r-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: italic;
  src: url('../Fonts/Ubuntu/ubuntu-ri-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  src: url('../Fonts/Ubuntu/ubuntu-m-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-style: italic;
  src: url('../Fonts/Ubuntu/ubuntu-mi-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 700;
  src: url('../Fonts/Ubuntu/ubuntu-b-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-style: italic;
  src: url('../Fonts/Ubuntu/ubuntu-bi-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'UbuntuCondensed';
  font-weight: 400;
  src: url('../Fonts/Ubuntu/ubuntu-c-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'UbuntuMono';
  font-weight: 400;
  src: url('../Fonts/Ubuntu/ubuntumono-r-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Symbols';
  src:         url('../Fonts/LigatureSymbols/LigatureSymbols-2.11.woff') format('woff');
  font-weight: normal;
  font-style:  normal;
}

$cp-fontFamily: 'Ubuntu', sans-serif;
$cp-fontFamily--condensed: 'UbuntuCondensed', sans-serif;
$cp-fontFamily--serif: 'Ubuntu', serif;
$cp-fontFamily--h: 'UbuntuCondensed', sans-serif;
$cp-fontFamily--nav: 'Ubuntu', sans-serif;
$cp-fontFamily--mono: 'UbuntuMono', sans-serif;
$cp-fontFamily--symbol: 'Symbols';

:root {
  --ff: #{$cp-fontFamily};
  --ff-condensed: #{$cp-fontFamily--condensed};
  --ff-serif: #{$cp-fontFamily--serif};
  --ff-h: #{$cp-fontFamily--h};
  --ff-nav: #{$cp-fontFamily--nav};
  --ff-mono: #{$cp-fontFamily--mono};
  --ff-symbol: #{$cp-fontFamily--symbol};
}
