@use '../settings' as *;

@layer basestyles {

  .form-label {
    // color: rebeccapurple;
  }

  .form-text {
    font-size: calc(var(--fs-small) * 0.8);
  }

  .form-control {
    padding: 0.25em;
    color: var(--clr-input);
    background-color: var(--clr-input--bg);
  }

  .error {
    color: var(--clr-error);
  }

  input, textarea, select {
    width:            100%;
    border:           none;

    &:focus-visible {
      outline: 1px solid var(--clr-brand--primary);
    }
  }

  .form-check,
  .form-check-label {
    input {
      margin-inline-end: 0.25em;
      height:            0.9em;
      width:             1em;
    }
  }

  .form-check-input {
    width:              auto;
    padding-inline-end: 0.25em;
  }

  input:not(:placeholder-shown):valid {
    outline-color: var(--clr-success);
  }

  input:not(:placeholder-shown):invalid {
    outline-color: var(--clr-error);
  }

}
