/* headings */

@use '../settings' as *;

/* reset */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-h), sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  text-wrap:   balance;
  font-family: var(--ff-h), sans-serif;
  margin-block-end: 1em;
  line-height: var(--lh-h);
}

.h1-font,
.h1 {
  font-size: clamp(2.5rem,5vw,3.5rem);
}
.h1 {
  margin-block-start: 1.5em;
  color: var(--clr-h);
}

.h2-font,
h2 {
  font-size: clamp(2rem, 3vw, 3rem);
}

.h2 {
  margin-block-start: 1.5em;
  color: var(--clr-h);
}

.h3-font,
.h4-font,
.h3,
.h4 {
  font-size: clamp(1.25rem, 2vw, 2rem);
}

.h3,
.h4 {
  margin-block-start: 1em;
}

.h3 {color: var(--clr-h)};

