/* headings */

@use '../atoms/fonts';

h1, h2, h3, h4, h5, h6 {
  text-wrap:   balance;
  font-family: var(--ff-h), sans-serif;
  margin-block-end: 1rem;
  margin-inline: 0;
  line-height: 1.2em;
}

h1 {
  font-size: clamp(3rem,5vw,5rem);
  margin-block-start: 2em;
  color: var(--clr-h);
}

h2 {
  font-size: clamp(2rem, 3vw, 4rem);
  margin-block-start: 1.5em;
  color: var(--clr-h);
}

h3,
h4 {
  font-size: clamp(1.25rem, 2vw, 2rem);
  margin-block-start: 1em;
}

h3 {color: var(--clr-h)};

