/* link */

@use '../settings' as *;

%link {
  color: currentColor;
  background-color: inherit;
  text-decoration: none;
  &:active,
  &:hover,
  &:focus-visible {
    text-decoration: none;
    outline: 0;
  }
}

%link-iconb {
  @extend %link;
  &:before {
    font-family: var(--ff-symbol), sans-serif;
    content: '';
    padding-inline-end: 0.1em;
  }
}

%link-icona {
  @extend %link;
  &:after {
    font-family: var(--ff-symbol), sans-serif;
    content: '';
    padding-inline-start: 0.1em;
  }
}

a {
  @extend %link;
}

a:not([class]) {
  @extend %link;
  text-decoration-skip-ink: auto;
}

.page-link--icon {
  @extend %link-iconb;
  &:before {
    content: 'arrowright';
  }
}

.file-link--icon {
  @extend %link-iconb;
  &:before {
    content: 'download';
  }
}

.folder-link--icon {
  @extend %link-iconb;
  &:before {
    content: 'folder';
  }
}

.url-link--icon {
  @extend %link-iconb;
  &:before {
    content: 'external';
  }
}

.phone-link--icon {
  @extend %link-iconb;
  &:before {
    content: 'phone';
  }
}

.mail-link--icon {
  @extend %link-iconb;
  &:before {
    content: 'mail';
  }
}

.fb-link--icon {
  @extend %link-iconb;
  &:before {
    content: 'facebook';
  }
}

.insta-link--icon {
  @extend %link-iconb;
  &:before {
    content: 'instagram';
  }
}

.linkedin-link--icon {
  @extend %link-iconb;
  &:before {
    content: 'linkedin';
  }
}

.pinterest-link--icon {
  @extend %link-iconb;
  &:before {
    content: 'pinterest';
  }
}

.github-link--icon {
  @extend %link-iconb;
  &:before {
    content: 'github';
  }
}

.youtube-link--icon {
  @extend %link-iconb;
  &:before {
    content: 'youtube';
  }
}
.vimeo-link--icon {
  @extend %link-iconb;
  &:before {
    content: 'vimeo';
  }
}
