/* metrics */

/* Baseline */
$cp-lineHeight:        1.6rem;
$cp-fontSize--h:       1rem;
$cp-fontSize--nav:     0.833rem;
$cp-lineHeight--nav:   1.25rem;
$cp-gutterWidth:       1.5rem;

:root {
  --gutter: 1.5rem;
  --line-height: 1.6rem;
  --flow-spacer: 1em;
}
