@use '../atoms/color' as *;
@use '../atoms/fonts' as *;

p {
  max-width: 70ch;
  text-wrap: pretty;
  orphans: inherit;
}

pre {
  font-family: var(--ff-mono), monospace;
  font-size: 1rem;
}

pre:has(code),
pre[data-language] {
  padding: 1em;
  background-color: var(--code-bg);
  border: 1px solid var(--code-bc);
  line-height: 1.2em;
}

/* pre:has(.cbcss),
pre[data-language="CSS"] {
  --code-bg: var(--clr-lightgray);
  --code-bc: var(--clr-dark);
} */

kbd {
  font-family:  var(--ff-mono), monospace;;
  background: inherit;
  color: inherit;
}

.cp-accent {
  color: var(--clr-highlight);
  font-weight: 500;
}
