@use '../atoms/color' as *;
@use '../atoms/fonts' as *;

:root {
  --code-bg: var(--clr-lightgray);
  --code-bc: var(--clr-dark);
}

p {
  max-width: 62ch;
  text-wrap: pretty;
  orphans: inherit;
}

pre:has(code),
pre[data-language] {
  padding: 1rem;
  background-color: var(--code-bg);
  border: 1px solid var(--code-bc);
  font-family: #{$cp-fontFamily--mono};
}

pre:has(.cbcss),
pre[data-language="CSS"] {
  --code-bg: steelblue;
  --code-bc: red;
}
