<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Layout-{page.pagerecord.layout}" />

<f:section name="Header">
    <f:render partial="Header" arguments="{_all}" />
</f:section>

<f:section name="Main">
    <main>
        <h1>Hello World from SimpleSite</h1>
        <p>From settings.yaml: {settings.TYPO3copyright}</p>
        <hr>
        <f:for each="{pagecontent.content.records}" as="contentelement">
            <f:cObject
                typoscriptObjectPath="tt_content.{contentelement.CType}"
                data="{contentelement.rawRecord}"
                table="tt_content"
            />
        </f:for>
    </main>
</f:section>

<f:section name="Footer">

</f:section>

</html>
