<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">


<f:layout name={layoutName} />

<f:section name="Header">

</f:section>

<f:section name="Main">
    <main>
        <f:debug inline="true">{_all}</f:debug>
        <h1>Hello World from DefaultContentPage</h1>
        <p>From settings.yaml: {settings.TYPO3copyright}</p>
        <hr>
        <f:for each="{pagecontent.content.records}" as="contentelement">
            <f:cObject
                typoscriptObjectPath="tt_content.{contentelement.CType}"
                data="{contentelement.rawRecord}"
                table="tt_content"
            />
        </f:for>
    </main>
</f:section>

<f:section name="Footer">

</f:section>

</html>

