<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">


<f:layout name="Default" />
<f:section name="Main">
    <f:asset.css identifier="globalcss" href="EXT:cpdevsite/Resources/Public/Css/Layout.css" />
    <main>
        <h1>Hello World from SimpleSite</h1>
        <p>From settings.yaml: {settings.TYPO3copyright}</p>
        <hr>
        <f:for each="{pagecontent.content.records}" as="contentelement">
            <f:cObject
                typoscriptObjectPath="tt_content.{contentelement.CType}"
                data="{contentelement}"
                table="tt_content"
            />
        </f:for>
    </main>
</f:section>

</html>

