<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">


<f:layout name="Layout-{page.pagerecord.layout}"/>

<f:section name="Main">
    <f:render arguments="{hero: pagecontent.hero, pageTitle: page.pagerecord.subtitle}" section="Hero"/>
    <f:render arguments="{submenu: submenu}" section="Submenu"/>
    <f:for as="record" each="{pagecontent.content.records}">
        <f:cObject
            data="{record.rawRecord}"
            table="tt_content"
            typoscriptObjectPath="tt_content.{record.CType}"
        />
    </f:for>
</f:section>

<f:section name="Hero">
    <f:render arguments="{hero: hero, pageTitle: pageTitle}" partial="Hero"/>
</f:section>

<f:section name="Submenu">
    <f:render arguments="{submenu: submenu}" partial="Menu/SubMenu"/>
</f:section>

</html>
