<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Layout-{page.pagerecord.layout}" />


<f:section name="Header">
    <f:render partial="Header" arguments="{_all}"/>
</f:section>

<f:section name="Main">
    <div class="jumbotron full-width">Hier kommt das Jumbotron</div>
    <div class="submenu breakout">Hier kommt das Submenu</div>
    <f:for each="{pagecontent.content.records}" as="record">
        <f:cObject
            typoscriptObjectPath="tt_content.{record.CType}"
            data="{record.rawRecord}"
            table="tt_content"
        />
    </f:for>
</f:section>

<f:section name="Footer">
    <p>Footer</p>
</f:section>

</html>
