<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/Friendsoftypo3/ContentBlocks/ViewHelpers">

<f:asset.css identifier="cpmember-css" href="{cb:assetPath()}/frontend.css" />
<f:asset.script identifier="cpmember-js" file="{cb:assetPath()}frontend.js"/>

<div class="cpmemberlist">
    <h1>{data.header}</h1>
    <f:for as="member" each="{data.members}">
        <h2>{member.title} - <f:translate key="LLL:EXT:cpdevsite/Resources/Private/Language/locallang_db.xlf:recordtype.member.board.{member.board}" />:{member.board}</h2>
        <p>{member.feuser.name}</p>
    </f:for>
</div>
