/* cp_base:constants */
/* Baseline Colors */
/* as css constants (light theme) */
:root {
  --clr-bw-000: oklch(0 0 0);
  --clr-bw-030: oklch(0.3 0 0);
  --clr-bw-040: oklch(0.4 0 0);
  --clr-bw-050: oklch(0.5 0 0);
  --clr-bw-060: oklch(0.6 0 0);
  --clr-bw-075: oklch(0.75 0 0);
  --clr-bw-090: oklch(0.9 0 0);
  --clr-bw-100: oklch(1 0 0);
  --clr-success: oklch(0.5 0.12 150);
  --clr-info: oklch(0.5 0.12 220);
  --clr-error: oklch(0.5 0.16 20);
  --clr-brand--primary: oklch(0.50 0.19 220.75);
  --clr-brand--secondary: oklch(0.50 0.03 149.54);
  --clr-brand--tertiary: oklch(0.50 0.05 231.77);
  --clr-brand--quaternary: oklch(0.50 0.13 318.63);
  --clr-highlight: var(--clr-brand--primary);
  /* code */
  --clr-code--bg: var(--clr-bw-060);
  --clr-code--bc: var(--clr-bw-030);
  /* buttons */
  --clr-primarybtn--active: var(--clr-bw-100);
  --clr-primarybtnbg--active: var(--clr-brand--primary);
  --clr-primarybtnbg--hover: oklch(from var(--clr-primarybtnbg--active) calc(l + 25%) c h);
  --clr-primarybtnbg--disabled: oklch(from var(--clr-primarybtn--active) calc(l + 50%) c h);
  --clr-secondarybtn--active: var(--clr-bw-090);
  --clr-secondarybtnbg--active: var(--clr-brand--secondary);
  --clr-secondarybtnbg--hover: oklch(from var(--clr-secondarybtnbg--active) calc(l + 25%) c h);
  --clr-secondarxbtnbg--disabled: oklch(from var(--clr-secondarybtnbg--active) calc(l + 50%) c h);
  /* typographic colors */
  --clr-background: var(--clr-bw-100);
  --clr-text: var(--clr-bw-030);
  --clr-h: var(--clr-brand--primary);
  /* page colors */
  --clr-headerbg: var(--clr-bw-060);
  /* menu colors */
  --clr-mnu: var(--clr-bw-100);
  --clr-mnu--active: var(--clr-bw-100);
  --clr-mnu--hover: var(--clr-bw-100);
  --clr-mnubg: transparent;
  --clr-mnubg--active: var(--clr-bw-040);
  --clr-mnubg--hover: var(--clr-brand--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* buttons */
    --clr-primarybtn--active: var(--clr-bw-075);
    --clr-primarybtnbg--active: var(--clr-brand--primary);
    --clr-primarybtn--disabled: oklch(from var(--clr-primarybtn--active) calc(l + .5) c h);
    /* typographic colors */
    --clr-background: var(--clr-bw-030);
    --clr-text: var(--clr-bw-075);
    --clr-h: var(--clr-brand--primary);
  }
}
/* fonts */
:root {
  /* fontfaces */
  --ff: "Ubuntu";
  --ff-condensed: "UbuntuCondensed";
  --ff-serif: "Ubuntu";
  --ff-h: "UbuntuCondensed";
  --ff-nav: "UbuntuCondensed";
  --ff-mono: "UbuntuMono";
  --ff-symbol: "Symbols";
  /* font weight */
  --fw-regular: 300;
  --fw-mono: 400;
  --fw-bold: 700;
  /* font size */
  --fs-small: 16px;
  --fs-regular: 24px;
  --fs-regular--big: 32px;
  /* line height */
  --lh-regular: 1.5;
  --lh-small: 1.2;
  --lh-paragraph: var(--lh-regular);
  --lh-h: var(--lh-small);
  --lh-list: var(--lh-small) ;
}

.fs-small {
  font-size: var(--fs-small);
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  src: url("../Fonts/Ubuntu/ubuntu-l-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  font-style: italic;
  src: url("../Fonts/Ubuntu/ubuntu-li-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url("../Fonts/Ubuntu/ubuntu-r-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: italic;
  src: url("../Fonts/Ubuntu/ubuntu-ri-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src: url("../Fonts/Ubuntu/ubuntu-m-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: italic;
  src: url("../Fonts/Ubuntu/ubuntu-mi-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: var(--fw-bold);
  src: url("../Fonts/Ubuntu/ubuntu-b-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: var(--fw-bold);
  font-style: italic;
  src: url("../Fonts/Ubuntu/ubuntu-bi-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "UbuntuCondensed";
  font-weight: var(--fw-regular);
  src: url("../Fonts/Ubuntu/ubuntu-c-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "UbuntuMono";
  font-weight: var(--fw-mono);
  src: url("../Fonts/Ubuntu/ubuntumono-r-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Symbols";
  src: url("../Fonts/LigatureSymbols/LigatureSymbols-2.11.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* metrics */
:root {
  --gutter: 1em;
  --flow-spacer: 1em;
  --border-radius: 1em;
  --mediasize--small: 480px;
  --mediasize--medium: 960px;
  --mediasize--large: 1600px;
  --blocksize--small: 200px;
  --blocksize--medium: 360px;
  --blocksize--big: 480px;
}

/* reset by conPassione gmbh */
/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation*/
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  color-scheme: dark light;
  /*   and set standard styling */
  color: var(--clr-text);
  background-color: var(--clr-background);
  font-family: var(--ff), sans-serif;
  font-size: clamp(var(--fs-regular), 2vw, var(--fs-regular--big));
  font-weight: var(--fw-regular);
  line-height: var(--lh-regular);
  display: block;
  min-height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  text-rendering: optimizeSpeed;
  height: fit-content;
}

hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

b,
strong {
  font-weight: 700;
}

/* @docs
label: Responsive Embeds

    note: |
        1. Block display is usually what we want
        2. The `vertical-align` removes strange space-below in case authors overwrite the display value
        3. Responsive by default
        4. Audio without `[controls]` remains hidden by default

category: embedded elements
*/
img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

/* @docs
label: Audio Width

    note: |
        There is no good reason elements default to 300px,
        and audio files are unlikely to come with a width attribute.

category: embedded elements
*/
audio {
  width: 100%;
}

audio:not([controls]) {
  display: none;
}

source {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* link */
a:not([class]), a, .vimeo-link--icon, .youtube-link--icon, .github-link--icon, .pinterest-link--icon, .linkedin-link--icon, .insta-link--icon, .fb-link--icon, .mail-link--icon, .phone-link--icon, .url-link--icon, .folder-link--icon, .file-link--icon, .page-link--icon {
  color: currentColor;
  background-color: inherit;
  text-decoration: none;
}
a:active, .vimeo-link--icon:active, .youtube-link--icon:active, .github-link--icon:active, .pinterest-link--icon:active, .linkedin-link--icon:active, .insta-link--icon:active, .fb-link--icon:active, .mail-link--icon:active, .phone-link--icon:active, .url-link--icon:active, .folder-link--icon:active, .file-link--icon:active, .page-link--icon:active, a:hover, .vimeo-link--icon:hover, .youtube-link--icon:hover, .github-link--icon:hover, .pinterest-link--icon:hover, .linkedin-link--icon:hover, .insta-link--icon:hover, .fb-link--icon:hover, .mail-link--icon:hover, .phone-link--icon:hover, .url-link--icon:hover, .folder-link--icon:hover, .file-link--icon:hover, .page-link--icon:hover, a:focus-visible, .vimeo-link--icon:focus-visible, .youtube-link--icon:focus-visible, .github-link--icon:focus-visible, .pinterest-link--icon:focus-visible, .linkedin-link--icon:focus-visible, .insta-link--icon:focus-visible, .fb-link--icon:focus-visible, .mail-link--icon:focus-visible, .phone-link--icon:focus-visible, .url-link--icon:focus-visible, .folder-link--icon:focus-visible, .file-link--icon:focus-visible, .page-link--icon:focus-visible {
  text-decoration: none;
  outline: 0;
}

.vimeo-link--icon:before, .youtube-link--icon:before, .github-link--icon:before, .pinterest-link--icon:before, .linkedin-link--icon:before, .insta-link--icon:before, .fb-link--icon:before, .mail-link--icon:before, .phone-link--icon:before, .url-link--icon:before, .folder-link--icon:before, .file-link--icon:before, .page-link--icon:before {
  font-family: var(--ff-symbol), sans-serif;
  content: "";
  padding-inline-end: 0.1em;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

.page-link--icon:before {
  content: "arrowright";
}

.file-link--icon:before {
  content: "download";
}

.folder-link--icon:before {
  content: "folder";
}

.url-link--icon:before {
  content: "external";
}

.phone-link--icon:before {
  content: "phone";
}

.mail-link--icon:before {
  content: "mail";
}

.fb-link--icon:before {
  content: "facebook";
}

.insta-link--icon:before {
  content: "instagram";
}

.linkedin-link--icon:before {
  content: "linkedin";
}

.pinterest-link--icon:before {
  content: "pinterest";
}

.github-link--icon:before {
  content: "github";
}

.youtube-link--icon:before {
  content: "youtube";
}

.vimeo-link--icon:before {
  content: "vimeo";
}

/* list */
/* reset */
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ol,
ul {
  list-style-type: disc;
  padding-inline-start: 1em;
}

ul > ::marker {
  color: var(--clr-brand--primary);
}

/* images */
/* @docs
label: Responsive Images

    note: |
        These new elements display inline by default,
        but that's not the expected behavior for either one.
        This can interfere with proper layout and aspect-ratio handling.

        1. Remove the unnecessary wrapping `picture`, while maintaining contents
        2. Source elements have nothing to display, so we hide them entirely

category: embedded elements
*/
picture {
  display: contents;
}

/* @docs
label: Aspect Ratios

    note: |
        Maintain intrinsic aspect ratios when `max-width` is applied.
    `iframe`, `embed`, and `object` are also embedded,
        but have no intrinsic ratio,
        so their `height` needs to be set explicitly.

category: embedded elements
*/
img, svg, video, canvas, figure {
  height: auto;
  max-width: 100%;
  display: block;
}

/* headings */
/* reset */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-h), sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  text-wrap: balance;
  font-family: var(--ff-h), sans-serif;
  margin-block-end: 1em;
  line-height: var(--lh-h);
}

.h1 {
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  margin-block-start: 1.5em;
  color: var(--clr-h);
}

.h2 {
  font-size: clamp(2rem, 3vw, 3rem);
  margin-block-start: 1.5em;
  color: var(--clr-h);
}

.h3,
.h4 {
  font-size: clamp(1.25rem, 2vw, 2rem);
  margin-block-start: 1em;
}

.h3 {
  color: var(--clr-h);
}

button,
.button {
  color: var(--clr-primarybtn--active);
  background-color: var(--clr-primarybtnbg--active);
  border: 0;
  border-radius: 0;
  display: inline-block;
  margin: 0.25rem;
  padding: 0.5em 1em;
}
button :focus-visible,
button :hover,
.button :focus-visible,
.button :hover {
  background-color: var(--clr-primarybtnbg--hover);
}

.button--small {
  font-size: var(--fs-small);
}

p {
  max-width: 900ch;
  text-wrap: pretty;
  orphans: inherit;
}

pre {
  font-family: var(--ff-mono), monospace;
  font-size: 1rem;
  line-height: var(--lh-small);
}

pre:has(code),
pre[data-language] {
  padding: 1em;
  background-color: var(--clr-code--bg);
  border: 1px solid var(--clr-code--bc);
  line-height: var(--lh-small);
}

/* pre:has(.cpcss),
pre[data-language="CSS"] {
  --code-bg: var(--clr-text);
  --code-bc: var(--clr-bw-090);
} */
kbd {
  font-family: var(--ff-mono), monospace;
  background: inherit;
  color: inherit;
}

.cp-accent {
  color: var(--clr-highlight);
  font-weight: var(--fw-regular);
}

i.icon {
  font-family: var(--ff-symbol), sans-serif;
  font-size: inherit;
  font-style: normal;
  color: inherit;
}

/* navmainmenu */
.mainmenu {
  position: relative;
  margin-inline-start: auto;
}

.mainmenu a {
  text-decoration: none;
  color: var(--clr-mnu);
  display: block;
  padding: 0.25rem 0.5rem;
  width: 100%;
}

.mainmenu ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.hamburger {
  display: block;
  width: 64px;
  height: 64px;
  position: relative;
  z-index: 5;
}

.hamburger--strip {
  height: 4px;
  width: 56px;
  position: absolute;
  background-color: var(--clr-mnu--active);
  transition: all 0.2s ease-in-out;
}

.strip-1 {
  top: 8px;
  left: 4px;
}

.strip-2 {
  top: 30px;
  left: 4px;
}

.strip-3 {
  bottom: 8px;
  left: 4px;
}

.navmainmenu {
  display: none;
  position: absolute;
  right: -1px;
  top: calc(64px + 0.5rem);
  background-color: var(--clr-headerbg);
  z-index: 10;
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.menu-items li {
  padding: 0;
  width: 100%;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.menu-items li:hover,
.menu-items li:focus,
.menu-item:focus-visible {
  color: var(--clr-mnu--hover);
  background-color: var(--clr-mnubg--hover);
}

.dropdown-menu {
  display: none;
  z-index: 9;
}

i.icon {
  display: none;
}

.mainmenu:focus-within .strip-1 {
  transform: translateY(22px) rotate(45deg);
}
.mainmenu:focus-within .strip-2 {
  transform: scale(0, 0);
}
.mainmenu:focus-within .strip-3 {
  transform: translateY(-22px) rotate(-45deg);
}
.mainmenu:focus-within .navmainmenu {
  display: block;
}

@media screen and (width > 960px) {
  .hamburger {
    display: none;
  }
  i.icon {
    display: inline;
  }
  .navmainmenu {
    display: block;
    position: relative;
    top: auto;
    right: auto;
  }
  .menu-items {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
  }
  .dropdown {
    position: relative;
  }
  .dropdown-menu,
  .menu-right {
    position: absolute;
    display: flex;
    width: max-content;
    top: 30px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: var(--clr-headerbg);
    flex-direction: column;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .menu-right {
    top: 0;
    left: 110%;
  }
  .menu-item {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .dropdown:hover > .dropdown-menu,
  .dropdown:focus-within > .dropdown-menu {
    top: calc(1rem + 1em);
    opacity: 1;
    visibility: visible;
  }
  .dropdown-right:hover > .menu-right,
  .dropdown-right:focus-within > .menu-right {
    left: 100%;
    opacity: 1;
    visibility: visible;
  }
}
/* page */
.navsubmenu {
  --gutter--list: 0.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
  padding-inline-start: 0;
}
.navsubmenu .navsubmenu--card {
  list-style-type: none;
  outline: 1px solid var(--clr-brand--primary);
  overflow: hidden;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 0.25rem;
}
.navsubmenu .navsubmenu--card > .navsubmenu--heading {
  font-weight: bold;
  font-family: var(--ff-condensed);
  font-size: var(--fs-regular);
  padding-block-start: var(--gutter--list);
  padding-inline: var(--gutter--list);
}
.navsubmenu .navsubmenu--card > .navsubmenu--description {
  padding-inline: var(--gutter--list);
}
.navsubmenu .navsubmenu--card > .navsubmenu--link {
  margin: 0 var(--gutter--list) var(--gutter--list) var(--gutter--list);
  align-self: end;
}

/* page */
header {
  background-color: var(--clr-headerbg);
}

.headercontent {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  padding-block: 0.5rem;
}

.logo {
  max-width: 200px;
}

/* page */
footer {
  background-color: var(--clr-brand--primary);
}

/* page */
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}
.content-grid {
  --padding-inline: 1rem;
  --content-max-width: var(--mediasize--large);
  --breakout-size: 20ch;
  display: grid;
  grid-template-columns: [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(var(--content-max-width), 100% - 2 * var(--padding-inline)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > * {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
}

.text {
  background-color: red;
}

/*# sourceMappingURL=Layout.css.map */
