/* Error: Undefined variable.
 *    ,
 * 72 |   padding: $cp-gutterWidth;
 *    |            ^^^^^^^^^^^^^^^
 *    '
 *   utilities/_fsc.scss 72:12  @forward
 *   utilities/_index.scss 5:1  @use
 *   Layout.scss 6:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 72 \2502    padding: $cp-gutterWidth;\a    \2502             ^^^^^^^^^^^^^^^\a    \2575 \a   utilities/_fsc.scss 72:12  @forward\a   utilities/_index.scss 5:1  @use\a   Layout.scss 6:1            root stylesheet";
}
