/* import utilities */
/* cp_base:constants */
@layer basestyles {
  /* Baseline Colors */
  /* as css constants (light theme) */
  :root {
    --clr-bw-000: oklch(0 0 0);
    --clr-bw-010: oklch(0.1 0 0);
    --clr-bw-020: oklch(0.2 0 0);
    --clr-bw-030: oklch(0.3 0 0);
    --clr-bw-040: oklch(0.4 0 0);
    --clr-bw-050: oklch(0.5 0 0);
    --clr-bw-060: oklch(0.6 0 0);
    --clr-bw-070: oklch(0.7 0 0);
    --clr-bw-080: oklch(0.8 0 0);
    --clr-bw-090: oklch(0.9 0 0);
    --clr-bw-100: oklch(1 0 0);
    --clr-success: oklch(0.5 0.12 150);
    --clr-info: oklch(0.5 0.12 220);
    --clr-error: oklch(0.5 0.12 0);
    --clr-brand--primary: oklch(0.6 0.061 62);
    --clr-brand--secondary: oklch(0.5 0.03 149);
    --clr-brand--tertiary: oklch(0.5 0.07 231);
    --clr-brand--quaternary: oklch(0.5 0.13 318);
    --clr-branddimmed--primary: oklch(from var(--clr-brand--primary) calc(l * .8) calc(c * .8) 220);
    --clr-branddimmed--secondary: oklch(from var(--clr-brand--secondary) calc(l * .8) calc(c * .8) 220);
    --clr-branddimmed--tertiary: oklch(from var(--clr-brand--tertiary) calc(l * .8) calc(c * .8) 220);
    --clr-branddimmed--quaternary: oklch(from var(--clr-brand--quaternary) calc(l * .8) calc(c * .8) 220);
    /* ============================ */
    /* Color Theme light            */
    /* ============================ */
    /* application colors */
    --clr-text: var(--clr-bw-030);
    --clr-background: var(--clr-bw-090);
    --clr-h: var(--clr-bw-050);
    --clr-h--border: var(--clr-brand--primary);
    --clr-accent: var(--clr-brand--primary);
    /* element colors */
    --clr-list--marker: var(--clr-brand--primary);
    --clr-code--bg: var(--clr-bw-060);
    --clr-code--bc: var(--clr-bw-030);
    --clr-input--bg: var(--clr-bw-100);
    /* buttons */
    --clr-primarybtn--active: var(--clr-bw-090);
    --clr-primarybtn--hover: var(--clr-bw-090);
    --clr-primarybtnbg--active: var(--clr-brand--primary);
    --clr-primarybtnbg--hover: var(--clr-bw-050);
    --clr-primarybtnbg--disabled: oklch(from var(--clr-primarybtn--active) calc(l * .75) c h);
    --clr-primarybtn--border: transparent;
    --clr-secondarybtn--active: var(--clr-bw-090);
    --clr-secondarybtnbg--active: var(--clr-brand--secondary);
    --clr-secondarybtnbg--hover: var(--clr-bw-050);
    --clr-secondarybtnbg--disabled: oklch(from var(--clr-secondarybtnbg--active) calc(l * .75) c h);
    --clr-secondarybtn--border: transparent;
    /* section colors */
    --clr-headerbg: var(--clr-bw-070);
    --clr-background-accent: var(--clr-bw-080);
    --clr-background-brandcolor: oklch(from var(--clr-brand--primary) calc(l * 1.4) calc(c * 0.5) h);
    --clr-footer-text: var(--clr-bw-030);
    --clr-footerbg: var(--clr-bw-070);
    --clr-footer--border: var(--clr-brand--primary);
    /* menu colors */
    --clr-mnu: var(--clr-bw-100);
    --clr-mnu--active: var(--clr-bw-100);
    --clr-mnu--hover: var(--clr-bw-100);
    --clr-mnubg: var(--clr-headerbg);
    --clr-mnumobilebg: var(--clr-headerbg);
    --clr-mnubg--active: var(--clr-bw-040);
    --clr-mnubg--hover: var(--clr-brand--primary);
    /* logo */
    --clr-logo: var(--clr-bw-000);
    --clr-logobg: var(--clr-bw-080);
    /* cards */
    --clr-card--accent: var(--clr-brand--primary);
    /* rte */
    --clr-ckeditor--text: var(--clr-bw-020);
    --clr-ckeditor--bg: var(--clr-bw-100);
    --clr-ckeditor--endline: var(--clr-info);
  }
  @media (prefers-color-scheme: dark) {
    :root {
      /* buttons */
      --clr-primarybtn--active: var(--clr-bw-075);
      --clr-primarybtnbg--active: var(--clr-brand--primary);
      --clr-primarybtn--disabled: oklch(from var(--clr-primarybtn--active) calc(l + .5) calc(c * 0.5) h);
      --clr-input--bg: var(--clr-bw-070);
      /* typographic colors */
      --clr-text: var(--clr-bw-090);
      --clr-h: var(--clr-bw-080);
      --clr-background: var(--clr-bw-030);
      --clr-background-accent: var(--clr-bw-040);
      --clr-background-brandcolor: oklch(from var(--clr-brand--primary) calc(l * .8) calc(c * 0.5) h);
      --clr-footer-text: var(--clr-bw-090);
      --clr-footerbg: var(--clr-bw-040);
      /* rte */
      --clr-ckeditor--text: var(--clr-bw-080);
      --clr-ckeditor--bg: var(--clr-bw-020);
      --clr-ckeditor--endline: var(--clr-info);
    }
  }
}
/* fonts */
@layer basestyles {
  @font-face {
    font-family: "Ubuntu";
    font-weight: 300;
    src: url("../Fonts/Ubuntu/ubuntu-l-webfont.woff2") format("woff2");
  }
  @font-face {
    font-family: "Ubuntu";
    font-weight: 300;
    font-style: italic;
    src: url("../Fonts/Ubuntu/ubuntu-li-webfont.woff2") format("woff2");
  }
  @font-face {
    font-family: "Ubuntu";
    font-weight: 400;
    src: url("../Fonts/Ubuntu/ubuntu-r-webfont.woff2") format("woff2");
  }
  @font-face {
    font-family: "Ubuntu";
    font-weight: 400;
    font-style: italic;
    src: url("../Fonts/Ubuntu/ubuntu-ri-webfont.woff2") format("woff2");
  }
  @font-face {
    font-family: "Ubuntu";
    font-weight: 500;
    src: url("../Fonts/Ubuntu/ubuntu-m-webfont.woff2") format("woff2");
  }
  @font-face {
    font-family: "Ubuntu";
    font-weight: 500;
    font-style: italic;
    src: url("../Fonts/Ubuntu/ubuntu-mi-webfont.woff2") format("woff2");
  }
  @font-face {
    font-family: "Ubuntu";
    font-weight: 700;
    src: url("../Fonts/Ubuntu/ubuntu-b-webfont.woff2") format("woff2");
  }
  @font-face {
    font-family: "Ubuntu";
    font-weight: 700;
    font-style: italic;
    src: url("../Fonts/Ubuntu/ubuntu-bi-webfont.woff2") format("woff2");
  }
  @font-face {
    font-family: "UbuntuCondensed";
    font-weight: 400;
    src: url("../Fonts/Ubuntu/ubuntu-c-webfont.woff2") format("woff2");
  }
  @font-face {
    font-family: "UbuntuMono";
    font-weight: 400;
    src: url("../Fonts/Ubuntu/ubuntumono-r-webfont.woff2") format("woff2");
  }
  @font-face {
    font-family: "Symbols";
    src: url("../Fonts/LigatureSymbols/LigatureSymbols-2.11.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  /* =============================== */
  :root {
    /* fontfaces */
    --ff: "Ubuntu";
    --ff-condensed: "UbuntuCondensed";
    --ff-serif: "Ubuntu";
    --ff-h: "UbuntuCondensed";
    --ff-nav: "UbuntuCondensed";
    --ff-mono: "UbuntuMono";
    --ff-symbol: "Symbols";
    /* font weight */
    --fw-regular: 300;
    --fw-mono: 400;
    --fw-bold: 700;
    /* font size */
    --fs-minor: 16px;
    --fs-regular: 18px;
    --fs-regular--big: 24px;
    /* line height */
    --lh-regular: 1.5;
    --lh-small: 1.2;
    --lh-h: var(--lh-small);
    /* regular font */
    --fs-standard: clamp(var(--fs-regular), (100vw - 960px) / 100 + var(--fs-regular), var(--fs-regular--big));
    --fs-big: calc(var(--fs-standard) * 1.125);
    --fs-small: calc(var(--fs-standard) * 0.875);
    font-size: var(--fs-standard);
    line-height: var(--lh-regular);
  }
  .fs-big {
    font-size: var(--fs-big);
    line-height: 1.8;
  }
  .fs-small {
    font-size: var(--fs-small);
  }
}
/* import utilities */
/* ck-editor */
body:not(.ck-style-panel) {
  font-family: var(--ff);
  font-size: 18px;
  color: var(--clr-ckeditor--text);
  background-color: var(--clr-ckeditor--bg);
}

h3, .h3 {
  font-size: 26px;
  font-family: var(--ff-h);
}

h4, .h4 {
  font-size: 22px;
  font-family: var(--ff-h);
}

strong {
  font-weight: bold;
}

.cp-accent {
  color: var(--clr-accent);
}

.fs-small {
  font-size: 16px;
}

.fs-big {
  font-size: 22px;
}

/* import utilities */
/* ck-editor */
/* link */
/* import utilities */
/* reset by conPassione gmbh */
/* metrics */
@layer basestyles {
  :root {
    --gutter: 1rem;
    --container-gutter: 2rem;
    --flow-spacer: 1em;
    --border-radius: 5px;
    --border-width: 1px;
    --border-style: solid;
    --mediasize--small: 480px;
    --mediasize--medium: 960px;
    --mediasize--large: 1200px;
    --blocksize--small: 200px;
    --blocksize--medium: 360px;
    --blocksize--big: 480px;
  }
}
/* import utilities */
/* reset by conPassione gmbh */
/* import utilities */
/* reset by conPassione gmbh */
/* reset by conPassione gmbh */
@layer basestyles {
  /* reset */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* Prevent font size inflation*/
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    color-scheme: dark light;
    /*   and set standard styling */
    color: var(--clr-text);
    background-color: var(--clr-background);
    font-family: var(--ff), sans-serif;
    font-weight: var(--fw-regular);
    display: block;
    min-height: 100svh;
  }
  /*   html:focus-within {
      scroll-behavior: smooth;
    } */
  body {
    /* overflow-y:     scroll; */
    min-height: 100svh;
    position: relative;
    z-index: 0;
  }
  header, footer, nav, main, aside, title, div, figure, p, table, textarea {
    display: block;
  }
  input, textarea, button, select {
    font: inherit;
  }
  hr {
    border-style: solid;
    border-width: 1px 0 0;
    color: inherit;
    height: 0;
    overflow: visible;
  }
  /* @docs
  label: Responsive Embeds

      note: |
          1. Block display is usually what we want
          2. The `vertical-align` removes strange space-below in case authors overwrite the display value
          3. Responsive by default
          4. Audio without `[controls]` remains hidden by default

  category: embedded elements
  */
  img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
    height: auto;
  }
  /* @docs
  label: Audio Width

      note: |
          There is no good reason elements default to 300px,
          and audio files are unlikely to come with a width attribute.

  category: embedded elements
  */
  audio {
    width: 100%;
  }
  audio:not([controls]) {
    display: none;
  }
  source {
    display: none;
  }
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
}
@layer basestyles {
  a:not([class]), a, .vimeo-link--icon, .youtube-link--icon, .github-link--icon, .pinterest-link--icon, .linkedin-link--icon, .insta-link--icon, .fb-link--icon, .mail-link--icon, .phone-link--icon, .url-link--icon, .folder-link--icon, .file-link--icon, .page-link--icon {
    color: currentColor;
    background-color: inherit;
    text-decoration: none;
  }
  a:active, .vimeo-link--icon:active, .youtube-link--icon:active, .github-link--icon:active, .pinterest-link--icon:active, .linkedin-link--icon:active, .insta-link--icon:active, .fb-link--icon:active, .mail-link--icon:active, .phone-link--icon:active, .url-link--icon:active, .folder-link--icon:active, .file-link--icon:active, .page-link--icon:active, a:hover, .vimeo-link--icon:hover, .youtube-link--icon:hover, .github-link--icon:hover, .pinterest-link--icon:hover, .linkedin-link--icon:hover, .insta-link--icon:hover, .fb-link--icon:hover, .mail-link--icon:hover, .phone-link--icon:hover, .url-link--icon:hover, .folder-link--icon:hover, .file-link--icon:hover, .page-link--icon:hover, a:focus-visible, .vimeo-link--icon:focus-visible, .youtube-link--icon:focus-visible, .github-link--icon:focus-visible, .pinterest-link--icon:focus-visible, .linkedin-link--icon:focus-visible, .insta-link--icon:focus-visible, .fb-link--icon:focus-visible, .mail-link--icon:focus-visible, .phone-link--icon:focus-visible, .url-link--icon:focus-visible, .folder-link--icon:focus-visible, .file-link--icon:focus-visible, .page-link--icon:focus-visible {
    text-decoration: none;
    outline: 0;
  }
  .vimeo-link--icon:before, .youtube-link--icon:before, .github-link--icon:before, .pinterest-link--icon:before, .linkedin-link--icon:before, .insta-link--icon:before, .fb-link--icon:before, .mail-link--icon:before, .phone-link--icon:before, .url-link--icon:before, .folder-link--icon:before, .file-link--icon:before, .page-link--icon:before {
    font-family: var(--ff-symbol), sans-serif;
    /*       -webkit-text-rendering: optimizeLegibility;
          -moz-text-rendering: optimizeLegibility;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
          -moz-font-smoothing: antialiased;
          font-smoothing: antialiased; */
    font-feature-settings: "liga" 1, "dlig" 1;
    content: "";
    padding-inline-start: 0.2em;
    padding-inline-end: 0.1em;
  }
  a:focus-visible {
    outline: 2px solid var(--clr-bw-070);
  }
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  .page-link--icon:before {
    content: "arrowright";
  }
  .page-link--icon:focus-visible {
    outline: 2px solid var(--clr-bw-070);
  }
  .file-link--icon {
    line-break: anywhere;
  }
  .file-link--icon:before {
    content: "download";
  }
  .file-link--icon:focus-visible {
    outline: 2px solid var(--clr-bw-070);
  }
  .folder-link--icon:before {
    content: "folder";
  }
  .folder-link--icon:focus-visible {
    outline: 2px solid var(--clr-bw-070);
  }
  .url-link--icon {
    line-break: anywhere;
  }
  .url-link--icon:before {
    content: "external";
  }
  .url-link--icon:focus-visible {
    outline: 2px solid var(--clr-bw-070);
  }
  .phone-link--icon:before {
    content: "phone";
  }
  .phone-link--icon:focus-visible {
    outline: 2px solid var(--clr-bw-070);
  }
  .mail-link--icon:before {
    content: "mail";
  }
  .mail-link--icon:focus-visible {
    outline: 2px solid var(--clr-bw-070);
  }
  .fb-link--icon:before {
    content: "facebook";
  }
  .fb-link--icon:focus-visible {
    outline: 2px solid var(--clr-bw-070);
  }
  .insta-link--icon:before {
    content: "instagram";
  }
  .insta-link--icon:focus-visible {
    outline: 2px solid var(--clr-bw-070);
  }
  .linkedin-link--icon:before {
    content: "linkedin";
  }
  .linkedin-link--icon:focus-visible {
    outline: 2px solid var(--clr-bw-070);
  }
  .pinterest-link--icon:before {
    content: "pinterest";
  }
  .pinterest-link--icon:focus-visible {
    outline: 2px solid var(--clr-bw-070);
  }
  .github-link--icon:before {
    content: "github";
  }
  .github-link--icon:focus-visible {
    outline: 2px solid var(--clr-bw-070);
  }
  .youtube-link--icon:before {
    content: "youtube";
  }
  .youtube-link--icon:focus-visible {
    outline: 2px solid var(--clr-bw-070);
  }
  .vimeo-link--icon:before {
    content: "vimeo";
  }
  .vimeo-link--icon:focus-visible {
    outline: 2px solid var(--clr-bw-070);
  }
}
/* link */
/* list */
@layer basestyles {
  /* reset */
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role=list],
  ol[role=list] {
    list-style: none;
  }
  ol,
  ul {
    list-style-type: disc;
    padding-inline-start: 1em;
  }
  ul > ::marker {
    color: var(--clr-list--marker, currentColor);
  }
}
body > :last-child:not(span) {
  padding-block-end: 0.5em;
  border-block-end: 1px solid var(--clr-ckeditor--endline);
}

/*# sourceMappingURL=Rte.css.map */
