// doc
// cp_base:ck-editor
@use '../constants.base' as *;
@layer ckeditor {

  html {
    background: $cp-color--white;
  }

  .cke_editable {
    padding: 10px;

    > *:last-child {
      border-bottom: 3px dotted $cp-color--gray;
    }

    ul {
      li {
        margin-left:  0;
        padding-left: 1.5rem;
        position:     relative;

        &:before {
          background-color: $cp-color--custom1;
          content:          '';
          display:          block;
          height:           .5rem;
          left:             .03rem;
          position:         absolute;
          top:              .45rem;
          width:            .5rem;
        }
      }
    }

    ol {
      counter-reset: cp-counter;

      li {
        margin-left:  0;
        padding-left: 1.5rem;
        position:     relative;

        &:before {
          bottom:            0;
          color:             inherit;
          content:           counter(cp-counter) '.';
          counter-increment: cp-counter;
          font-size:         inherit;
          left:              0;
          position:          absolute;
          top:               0;
          width:             1.5rem;
        }
      }
    }
  }

  // special classes to adjust RTE-Editor
  .htmlarea-content-body {
    background: $cp-color--white;
  }

  ul.cke_panel_list {
    li.cke_panel_listItem {
      a,
      b,
      i,
      strong,
      span {
        line-height: 1rem;
        padding:     3px 5px;
      }
    }
  }
}
