<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/Friendsoftypo3/ContentBlocks/ViewHelpers">

<f:asset.css identifier="cpmember-css" href="{cb:assetPath()}/frontend.css" />
<f:asset.script identifier="cpmember-js" file="{cb:assetPath()}frontend.js"/>

<div class="cpmember">
    <h2><f:format.html>{data.header}</f:format.html></h2>

    <f:if condition="{data.feuser}">
        <f:then>
            <div class="cpmember--body">
                <div class="cpmember--img">
                    <f:if condition="{data.feuser.image}">
                        <f:for as="image" each="{data.feuser.image}">
                            <f:image image="{image}"/>
                        </f:for>
                    </f:if>
                </div>
                <p>{data.feuser.last_name} - {data.feuser.first_name}<br>
                    {data.feuser.address}<br>
                    {data.feuser.zip}&nbsp;{data.feuser.city}<br>
                    {data.feuser.telephone}
                </p>
            </div>
        </f:then>
        <f:else>
            <p>(vakant)</p>
        </f:else>
    </f:if>
    <f:if condition="{data.dbboard}">
        <p>Board-1: {data.feuser.conpassione_member_board}</p>
        <p>Board: {data.dbboard.title}</p>
    </f:if>
</div>
