/* Created by Content Blocks */
.textimageleft {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: full-width;
  background-color: var(--clr-background-accent);

  .cp-image {
    grid-column: full-width;
  }

  .textimageleft-text {
    grid-column: content;
  }
}

@media only screen and (min-width: 800px) {
  .textimageleft .cp-image {
    grid-column: full-width-start / centerline;
  }

  .textimageleft .textimageleft-text {
    grid-column: centerline / content-end;
    align-self: center;
    padding-left: calc(var(--gutter) * 2);
  }
}


